@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 246, 247, 246;
  --background-end-rgb: 158, 171, 163;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 158, 171, 163;
    --background-end-rgb: 62, 62, 74;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(--background-end-rgb);
}
